.salary-schedule-log-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
    
    .icon-save,
	.icon-upload {
		width: 15px;
	    height: 15px;
		margin-right: 4px;
		filter: brightness(0) invert(0);
	}

    .icon-save {
        filter: brightness(0) invert(1);
    }

	.search-inp {
		width: 30%;
	}

    .button-group {
        display: flex;
        gap: 8px;
        
        button {
            display: flex;
        }
    }
  }

/* Scroll wrapper */
.salary-schedule-table-wrapper {
    overflow-x: auto;
    max-height: 500px;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        text-align: center;
    }
    
    th,
    td {
        border: 1px solid #d1d5db;
        padding: 6px;
        min-width: 80px;
    }
    
    th {
        background: #f5f5f5;
        font-weight: bold;
    }
    
    td input {
        width: 90%;
        padding: 4px;
        border: 1px solid #d1d5db;
        text-align: right;
    }
    
    .salary-grade {
        background: #f9fafb;
        font-weight: bold;
    }
}
