.plantilla-tabs {
    width: 100%;

    /* Tab labels (horizontal) */
    .tab-labels {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #ddd;
        gap: 5px;
    }

    .tab-labels button {
        padding: 10px 18px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-bottom: none;
        background: #f9f9f9;
        transition: background 0.3s ease;
    }

    .tab-labels button:hover {
        background: #f1f1f1;
    }

    /* Active tab */
    .tab-labels button.active {
        background: #fff;
        font-weight: bold;
        color: #555;
    }

    /* Content area */
    .tab-contents {
        margin-top: 20px;

        .management {
            /* account tab style */
			.management-header {
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;
			
				.icon-add,
				.icon-print {
					width: 15px;
					height: 15px;
					margin-right: 4px;
					filter: brightness(0) invert(0);
				}

				.icon-add {
					filter: brightness(0) invert(1);
				}

				.search-inp {
					width: 30%;
				}

				.button-group {
					display: flex;
					gap: 8px;

					button {
						display: flex;
					}
				}
			}
			
			.search-bar {
				padding: 8px 12px;
				width: 250px;
				border: 1px solid #eaeaea;
				font-size: 14px;
			}
			
			.add-btn {
				background-color: #ffffff;
				color: #4a4a4a;
				padding: 8px 16px;
				cursor: pointer;
				font-size: 14px;
				border: 1px solid #6e6d6d;
			}
			
			
			// Table styles
			.management-table-wrapper {
				width: 100%;
				overflow-x: auto; /* Enables horizontal scroll */
			
				table {
					min-width: 700px; /* Prevents table from squishing too much */
					border-collapse: collapse;
					width: 100%;
			
					th,
					td {
						padding: 6px;
						text-align: left;
						border-bottom: 1px solid #e2e2e2;
						font-size: 14px;
						color: #6e6d6d;
					}
				
					th {
						background-color: #e9e9e9;
						color: #555;
						font-weight: bold;
						font-size: 15px;
					}
				
					tr {
						background-color: #f5f5f5;
					}
				
					.icon {
						width: 22px;
						height: 22px;
						object-fit: contain;
						padding: 2px;
					}
				
					.btn-action {
						margin-right: 4px;
						border-radius: 4px;
					}
				}
			}		
		}
	}

	.content {
		display: none;
	}

	.content.active,
	.content[style*="display: block"] {
		display: block;
	}
}