.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a {
        text-decoration: none;
    }

    .card-header {
        color: #5b5b5b;

        div {
            display: flex;
            align-items: center;
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }
    }
}